@inject Fiorello.Services.LayoutServices layoutService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiorello-Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/cropped-Favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="row justify-content-between">
                    <div p
                         class="logo-links-cart col-lg-12 col-sm-4 col-4 d-flex justify-content-between align-items-center">
                        <div class="logo col-4 col-sm-d">
                            <a href="C:\Users\jamalaz\Desktop\FiorellaFrontProject\Html\home.html">
                                <img src="~/assets/images/h2-logo-1.png" alt="">
                            </a>
                        </div>
                        <div style="height: 100%;" class="nav-links col-lg-6">
                            <ul style="height: 100%;"
                                class="sub-links d-flex justify-content-around align-items-center">
                                <li class="homeLi">
                                    <a href="">
                                        <div class="hover-underline-animation"></div>HOME
                                    </a>
                                    <div class="home">
                                        <ul>
                                            <li><a href="">Main Home</a></li>
                                            <li><a href="">Grid Home</a></li>
                                            <li><a href="">Flower Shop</a></li>
                                            <li><a href="">Animated Slider</a></li>
                                            <li><a href="">Metro Showcase</a></li>
                                            <li><a href="">Carosuel Showcase</a></li>
                                            <li><a href="">Landing</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="homeLi">
                                    <a href="">
                                        PAGES
                                    </a>
                                    <div class="pages">
                                        <ul>
                                            <li class="homeLi"><a href="">About Us</a></li>
                                            <li><a href="">FAQ page</a></li>
                                            <li><a href="">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="homeLi">
                                    <a href="">SHOP</a>
                                    <div class="shop">
                                        <ul>
                                            <h4>Product types</h4>
                                            <li><a href="">Standart Product</a></li>
                                            <li><a href="">Grouped Product</a></li>
                                            <li><a href="">Variable Product</a></li>
                                            <li><a href="">Virtual Product</a></li>
                                            <li><a href="">External Product</a></li>
                                            <li><a href="">Downloadable Product</a></li>
                                            <li><a href="">On Sale Product</a></li>
                                            <li><a href="">Out of Stock Product</a></li>
                                            <li><a href="">New Product</a></li>
                                        </ul>
                                        <ul>
                                            <h4>Shop Pages</h4>
                                            <li><a href="">My Account</a></li>
                                            <li><a href="">Cart</a></li>
                                            <li><a href="">Checkout</a></li>
                                            <li><a href="">Orders</a></li>
                                            <li><a href="">Downloads</a></li>
                                        </ul>
                                        <ul>
                                            <h4> Shop Types </h4>
                                            <li><a href="">Product List</a></li>
                                            <li><a href="">Without Sidebar</a></li>
                                            <li><a href="">With Category Filter</a></li>
                                            <li><a href="">With Ordering Filter </a></li>
                                            <li><a href="">Shop Carousel</a></li>
                                            <li><a href="">Product Categories</a></li>
                                            <li><a href="">Single Category</a></li>
                                        </ul>
                                        <ul>
                                            <h4>Shop Layouts</h4>
                                            <li><a href="">Two Columns Grid</a></li>
                                            <li><a href="">Three Columns Grid</a></li>
                                            <li><a href="">Four Columns Grid</a></li>
                                            <li><a href="">Four Columns Wide</a></li>
                                            <li><a href="">Five Columns Wide</a></li>
                                            <li><a href="">Six Columns Wide</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="homeLi">
                                    <a href="">PORTFOLIO</a>
                                    <div class="portfolio">
                                        <ul>
                                            <li><a href="">Standart</a></li>
                                            <li><a href="">Gallery</a></li>
                                            <li><a href="">Masonry</a></li>
                                            <li class="portfolioLayoutsLi d-flex justify-content-between"
                                                style="font-size: 7px;">
                                                <a href="">
                                                    Portfolio
                                                    Layouts
                                                </a>
                                                <i class="fas fa-chevron-right"></i>
                                                <div class="portfolio-inner-layouts">
                                                    <ul>
                                                        <li><a href="">Two Columns</a></li>
                                                        <li><a href="">Three Columns</a></li>
                                                        <li><a href="">Four Columns</a></li>
                                                        <li><a href="">Four Columns Wide</a></li>
                                                        <li><a href="">Five Columns Wide</a></li>
                                                    </ul>
                                                </div>

                                            </li>
                                            <li class="portfolioSingleLi d-flex justify-content-between"
                                                style="font-size: 7px;">
                                                <a href="">Portfolio Single</a>
                                                <i class="fas fa-chevron-right"></i>
                                                <div class="portfolio-inner-single">
                                                    <ul>
                                                        <li><a href="">Small Images</a></li>
                                                        <li><a href="">Small Slider</a></li>
                                                        <li><a href="">Big Images</a></li>
                                                        <li><a href="">Big Slider</a></li>
                                                        <li><a href="">Gallery</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">BLOG</a>
                                    <div class="blog">
                                        <ul>
                                            <li><a href="">Masonry</a></li>
                                            <li><a href="">Standart</a></li>
                                            <li class="blogPostLi d-flex justify-content-between">
                                                <a href="">
                                                    Post Types
                                                </a>
                                                <i class="fas fa-chevron-right" style="font-size: 7px;"></i>
                                                <div class="blog-inner-post">
                                                    <ul>
                                                        <li><a href="">Standart</a></li>
                                                        <li><a href="">Gallery</a></li>
                                                        <li><a href="">Link</a></li>
                                                        <li><a href="">Quote</a></li>
                                                        <li><a href="">Audio</a></li>
                                                        <li><a href="">Video</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li>
                                    <a href="">ELEMENTS</a>
                                    <div class="elements">
                                        <ul>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Classic</a>
                                                <div class="elements-inner-classic">
                                                    <!-- <ul>
                                                        <li><a href=""></a></li>
                                                        <li><a href=""></a></li>
                                                        <li><a href=""></a></li>
                                                        <li><a href=""></a></li>
                                                        <li><a href=""></a></li>
                                                    </ul> -->
                                                </div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                </i><a href="">Infographic</a>
                                                <div class="elements-inner-info"></div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Interactive</a>
                                                <div class="elements-inner-interactive"></div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Typography</a>
                                                <div class="elements-inner-typo"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search d-none"><i class="fas fa-search"></i></div>
                        <div style="height: 100%; display:flex; align-items:center; "
                             class="search-cart col-lg-2 d-flex justify-content-evenly">
                            <div class="container">
                                <div class="cart">
                                    <i class="fas fa-shopping-bag">
                                        <div class="basketProductCount">0</div>
                                    </i>
                                    <div class="basketView">
                                        <ul class="basketProducts">
                                        </ul>
                                        <div class="total-viewCart-checkout">
                                            <div class="total">
                                                <span>TOTAL:</span>
                                                <span class="basketTotalPrice">0</span>
                                            </div>
                                            <div class="viewCart-checkout">
                                                <div class="viewCart">
                                                    VIEW CART
                                                </div>
                                                <div class="checkout">
                                                    CHECKOUT
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <span>
                                            Cart<span class="basketTotalPrice">
                                                <span style="margin-left: 5px;">0</span>
                                    </div><span>$</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="menu-icon col-sm-3 col-3">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="menu animate__animated ">
                        <div class="closeX  text-end">
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="menu-nav-links">
                            <ul id="menuNavLinksUl" style="list-style: none;">
                                <li class="menuHomeLi">
                                    <a href="#">HOME</a>
                                    <span><i class="fas fa-chevron-right"></i></span>
                                    <div class="menuHome">
                                        <ul style="list-style: none;">
                                            <li><a href="">Main Home</a></li>
                                            <li><a href="">Grid Home</a></li>
                                            <li><a href="">Flower Shop</a></li>
                                            <li><a href="">Animated Slider</a></li>
                                            <li><a href="">Metro Showcase</a></li>
                                            <li><a href="">Carosuel Showcase</a></li>
                                            <li><a href="">Landing</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuPagesLi">
                                    <a href="#">PAGES</a>
                                    <span><i class="fas fa-chevron-right"></i></span>
                                    <div class="menuPages">
                                        <ul style="list-style: none;">
                                            <li><a href="">About Us</a></li>
                                            <li><a href="">FAQ page</a></li>
                                            <li><a href="">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuShopLi">
                                    <a href="#">SHOP</a>
                                    <span><i class="fas fa-chevron-right"></i></span>
                                    <div class="menuShop">
                                        <h4 class="pth4">
                                            Product types <span><i class="fas fa-chevron-right"></i></span>
                                        </h4>

                                        <ul class="pt">
                                            <li><a href="">Standart Product</a></li>
                                            <li><a href="">Grouped Product</a></li>
                                            <li><a href="">Variable Product</a></li>
                                            <li><a href="">Virtual Product</a></li>
                                            <li><a href="">External Product</a></li>
                                            <li><a href="">Downloadable Product</a></li>
                                            <li><a href="">On Sale Product</a></li>
                                            <li><a href="">Out of Stock Product</a></li>
                                            <li><a href="">New Product</a></li>
                                        </ul>
                                        <h4 class="sph4">
                                            Shop Pages <span><i class="fas fa-chevron-right"></i></span>
                                        </h4>
                                        <ul class="sp">
                                            <li><a href="">My Account</a></li>
                                            <li><a href="">Cart</a></li>
                                            <li><a href="">Checkout</a></li>
                                            <li><a href="">Orders</a></li>
                                            <li><a href="">Downloads</a></li>
                                        </ul>
                                        <h4 class="sth4">
                                            Shop Types <span><i class="fas fa-chevron-right"></i></span>
                                        </h4>
                                        <ul class="st">
                                            <li><a href="">Product List</a></li>
                                            <li><a href="">Without Sidebar</a></li>
                                            <li><a href="">With Category Filter</a></li>
                                            <li><a href="">With Ordering Filter </a></li>
                                            <li><a href="">Shop Carousel</a></li>
                                            <li><a href="">Product Categories</a></li>
                                            <li><a href="">Single Category</a></li>
                                        </ul>
                                        <h4 class="slh4">
                                            Shop Layouts <span><i class="fas fa-chevron-right"></i></span>
                                        </h4>
                                        <ul class="sl">
                                            <li><a href="">Two Columns Grid</a></li>
                                            <li><a href="">Three Columns Grid</a></li>
                                            <li><a href="">Four Columns Grid</a></li>
                                            <li><a href="">Four Columns Wide</a></li>
                                            <li><a href="">Five Columns Wide</a></li>
                                            <li><a href="">Four Columns Grid</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuPortfolioLi">
                                    <a href="#">PORTFOLIO</a>
                                    <span><i class="fas fa-chevron-right"></i></span>
                                    <div class="menuPortfolio">
                                        <ul>
                                            <li><a href="">Standart</a></li>
                                            <li><a href="">Gallery</a></li>
                                            <li><a href="">Masonry</a></li>
                                            <li class="menuPortfolioLayoutsLi" style="font-size: 9px;">
                                                <a href="#">
                                                    Portfolio
                                                    Layouts
                                                </a>
                                                <i class="fas fa-chevron-right"></i>
                                                <div class="menuPortfolio-inner-layouts">
                                                    <ul>
                                                        <li><a href="">Two Columns</a></li>
                                                        <li><a href="">Three Columns</a></li>
                                                        <li><a href="">Four Columns</a></li>
                                                        <li><a href="">Four Columns Wide</a></li>
                                                        <li><a href="">Five Columns Wide</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="menuPortfolioSingleLi">
                                                <a href="#">Portfolio Single</a>
                                                <i style="font-size:9px ;" class="fas fa-chevron-right"></i>
                                                <div class="menuPortfolio-inner-single">
                                                    <ul>
                                                        <li><a href="">Small Images</a></li>
                                                        <li><a href="">Small Slider</a></li>
                                                        <li><a href="">Big Images</a></li>
                                                        <li><a href="">Big Slider</a></li>
                                                        <li><a href="">Gallery</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuBlogLi">
                                    <a href="#">BLOG</a>
                                    <span><i style="font-size: 9px;" class="fas fa-chevron-right"></i></span>
                                    <div class="menuBlog">
                                        <ul>
                                            <li><a href="">Masonry</a></li>
                                            <li><a href="">Standart</a></li>
                                            <li class="menuBlogPostLi">
                                                <a href="#">Post Types</a>
                                                <i class="fas fa-chevron-right" style="font-size: 9px;"></i>
                                                <div class="menuBlog-inner-post">
                                                    <ul class="menuBlogUl">
                                                        <li><a href="">Standart</a></li>
                                                        <li><a href="">Gallery</a></li>
                                                        <li><a href="">Link</a></li>
                                                        <li><a href="">Quote</a></li>
                                                        <li><a href="">Audio</a></li>
                                                        <li><a href="">Video</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuElementsLi">
                                    <a href="#">ELEMENTS</a>
                                    <span><i style="font-size: 9px;" class="fas fa-chevron-right"></i></span>
                                    <div class="menuElements">
                                        <ul>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Classic</a>
                                                <div class="elements-inner-classic">
                                                </div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Infographic</a>
                                                <div class="elements-inner-info"></div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Interactive</a>
                                                <div class="elements-inner-interactive"></div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <a href="">Typography</a>
                                                <div class="elements-inner-typo"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="topFooter d-flex justify-content-between col-lg-12 col-md-6 col-sm-12">
                        <ul class="col-lg-3 col-md-6 col-sm-12">
                            <h5>CUSTOMER SERVICE</h5>
                            <li><a href="">Help & Contact Us</a></li>
                            <li><a href="">Returns & Refunds</a></li>
                            <li><a href="">Online Stores</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                        </ul>
                        <ul class="col-lg-3 col-md-6 col-sm-12">
                            <h5>COMPANY</h5>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Order Tracking</a></li>
                            <li><a href="">FAQ Page</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                        <ul class="col-lg-3 col-md-6 col-sm-12">
                            <h5>SOCIAL MEDIA</h5>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Tumblr</a></li>
                            <li><a href="">Pinterest</a></li>
                        </ul>
                        <ul class="col-lg-3 col-md-6 col-sm-12">
                            <h5>ARCHIVE</h5>
                            <li><a href="">Designer Shoes</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="">Feature Index</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Help & Support</a></li>
                        </ul>
                    </div>
                    <hr style="margin-top: 10px; background-color: grey;">
                    <div class="bottomFooter d-flex justify-content-between">
                        <div class="rights">
                            <span>© 2018 Qode Interactive, All Rights Reserved</span>
                        </div>
                        <div class="payments">
                            <div class="footerImage"><img src="~/assets/images/footerPayment.png" alt=""></div>
                        </div>
                        <div class="socialMedia">
                            <span><a href="">FACEBOOK</a></span> <span><a href="">INSTAGRAM</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="d-none goUp">
        <i class="fas fa-chevron-up icon icon1"></i>
        <i class="fas fa-chevron-up icon icon2"></i>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/Js/owl.carousel.min.js"></script>
    <script src="~/assets/Js/parallax.min.js"></script>
    <script src="~/assets/Js/home.js"></script>
    @RenderSection("Scripts",false)
    <script src="~/assets/Js/main.js"></script>
</body>

</html>
